body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    color: #333;
   
}

form label {
    display: block;
    margin-bottom: 15px;
    font-weight: bold;
}

input {
    display: block;
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    border: 2px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}



input:focus {
    outline: none;
    border-color: #888;
}

input.correcto {
    border-color: green;
}

input.incorrecto {
    border-color: red;
}

.mensaje-error {
    color: red;
    font-size: 0.8em;
    height: 14px;
    display: block;
}

.botones {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button {
    background-color: #0078d7;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 10px 10px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #005ea1;
}